<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="navbar">
        <h1>Book Store</h1>

        <div>
            <a href="/">Home</a>
            <a href="/add-book">Add Book</a>
            <a href="/books">View Books</a>
        </div>
    </div>